## Preprocessing

In [4]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd
application_df = pd.read_csv("https://static.bc-edx.com/data/dla-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [10]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df = application_df.drop(columns=['EIN','NAME'])
application_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [11]:
# Determine the number of unique values in each column.
df_count = application_id_df.dtypes.index.tolist()
application_df[df_count].nunique()

APPLICATION_TYPE             9
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [12]:
# Look at APPLICATION_TYPE value counts to identify and replace with "Other"
app_type_count = application_id_df['APPLICATION_TYPE'].value_counts()
app_type_count

APPLICATION_TYPE
T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: count, dtype: int64

In [13]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
#  YOUR CODE GOES HERE

application_type_counts = application_df['APPLICATION_TYPE'].value_counts()
application_types_to_replace = application_type_counts[application_type_counts < 500].index.tolist()


# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure replacement was successful
application_df['APPLICATION_TYPE'].value_counts()

APPLICATION_TYPE
T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: count, dtype: int64

In [15]:
# Look at CLASSIFICATION value counts to identify and replace with "Other"
classification_value_counts = application_df['CLASSIFICATION'].value_counts()
classification_value_counts

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: count, Length: 71, dtype: int64

In [17]:
# You may find it helpful to look at CLASSIFICATION value counts >1
classification_counts_gt_1 = classification_value_counts.loc[classification_value_counts > 1]
classification_counts_gt_1

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: count, dtype: int64

In [19]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classification_counts_type = dict(application_df['CLASSIFICATION'].value_counts())

classifications_to_replace = [x for x in classification_counts_type if classification_counts_type[x] < 1000]
classifications_to_replace

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")

# Check to make sure replacement was successful
application_df['CLASSIFICATION'].value_counts()

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: count, dtype: int64

In [20]:
# Convert categorical data to numeric with `pd.get_dummies`
df_application_dummies = pd.get_dummies(application_df, columns=['APPLICATION_TYPE', 'AFFILIATION','CLASSIFICATION', 'USE_CASE', 'ORGANIZATION', 'INCOME_AMT', 'SPECIAL_CONSIDERATIONS'])
df_application_dummies.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,False,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
1,1,108590,1,False,False,False,True,False,False,False,...,True,False,False,False,False,False,False,False,True,False
2,1,5000,0,False,False,False,False,False,True,False,...,False,False,False,False,False,False,False,False,True,False
3,1,6692,1,False,False,False,True,False,False,False,...,False,True,False,False,False,False,False,False,True,False
4,1,142590,1,False,False,False,True,False,False,False,...,False,False,True,False,False,False,False,False,True,False

In [21]:
# Split our preprocessed data into our features and target arrays
y = df_application_dummies['IS_SUCCESSFUL'].values
X = df_application_dummies.drop(columns='IS_SUCCESSFUL').values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y)

In [22]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [23]:
print(X_train_scaled[:1])
print(X_test_scaled[:1])

[[ 0.01079982 -0.02785295 -0.09050558 -0.1247184  -0.17823132 -1.92715993
  -0.21838669  5.33221289 -0.19193745 -0.14726031 -0.1487688  -0.91971018
  -0.04278355  0.92577554 -0.03118975 -0.01079982 -0.01870803 -1.00913832
  -0.40767414 -0.46627888 -0.23981836  4.12939824 -0.26273016 -0.10733765
  -0.06340457 -0.01079982 -2.12830089  2.24687258 -0.65252148 -0.11846277
  -0.03416998  0.67598457 -1.57285378 -0.14462084 -0.12342624  3.01986604
  -0.08323705 -0.16981325 -0.35046891 -0.06371286 -0.07236312  0.02415478
  -0.02415478]]
[[ 0.01079982 -0.03000202 -0.09050558 -0.1247184  -0.17823132  0.51889829
  -0.21838669 -0.1875394  -0.19193745 -0.14726031 -0.1487688   1.08729904
  -0.04278355 -1.08017544 -0.03118975 -0.01079982 -0.01870803 -1.00913832
  -0.40767414  2.14463927 -0.23981836 -0.24216604 -0.26273016 -0.10733765
  -0.06340457 -0.01079982  0.46985838 -0.44506307  1.5325166  -0.11846277
  -0.03416998 -1.4793237   0.63578701 -0.14462084 -0.12342624 -0.33114052
  -0.08323705 -0.16981325 -0.35046891 -0.06371286 -0.07236312  0.02415478
  -0.02415478]]

## Compile, Train and Evaluate the Model

OPTIMIZATION ATTEMPT #1 - add more neurons to the hidden layers. Increase the 1st hidden layer to 20 and the second to 10.
RESULT - Although it took longer to run the results were similar, between 72% and 73%. In fact, the accuracy was slightly worse

In [24]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
input_features = len(X_train_scaled[0])
nodes_layer_1 = 20
nodes_layer_2 = 10

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=nodes_layer_1, activation="relu", input_dim=input_features))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=nodes_layer_2, activation="relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 20)                880

 dense_1 (Dense)             (None, 10)                210

 dense_2 (Dense)             (None, 1)                 11

=================================================================
Total params: 1,101
Trainable params: 1,101
Non-trainable params: 0
_________________________________________________________________

In [25]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=['accuracy'])

In [26]:
# Train the model
train_fit_model = nn.fit(X_train_scaled, y_train, epochs=100)

Epoch 1/100

2024-10-15 21:22:06.223512: W tensorflow/tsl/platform/profile_utils/cpu_utils.cc:128] Failed to get CPU frequency: 0 Hz

804/804 [==============================] - 1s 445us/step - loss: 0.5903 - accuracy: 0.7054
Epoch 2/100
804/804 [==============================] - 0s 428us/step - loss: 0.5598 - accuracy: 0.7254
Epoch 3/100
804/804 [==============================] - 0s 420us/step - loss: 0.5565 - accuracy: 0.7267
Epoch 4/100
804/804 [==============================] - 0s 420us/step - loss: 0.5550 - accuracy: 0.7268
Epoch 5/100
804/804 [==============================] - 0s 428us/step - loss: 0.5534 - accuracy: 0.7280
Epoch 6/100
804/804 [==============================] - 0s 431us/step - loss: 0.5529 - accuracy: 0.7281
Epoch 7/100
804/804 [==============================] - 0s 425us/step - loss: 0.5511 - accuracy: 0.7290
Epoch 8/100
804/804 [==============================] - 0s 427us/step - loss: 0.5507 - accuracy: 0.7294
Epoch 9/100
804/804 [==============================] - 0s 435us/step - loss: 0.5499 - accuracy: 0.7293
Epoch 10/100
804/804 [==============================] - 0s 431us/step - loss: 0.5496 - accuracy: 0.7306
Epoch 11/100
804/804 [==============================] - 0s 427us/step - loss: 0.5485 - accuracy: 0.7309
Epoch 12/100
804/804 [==============================] - 0s 424us/step - loss: 0.5484 - accuracy: 0.7302
Epoch 13/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5484 - accuracy: 0.7311
Epoch 14/100
804/804 [==============================] - 0s 456us/step - loss: 0.5483 - accuracy: 0.7311
Epoch 15/100
804/804 [==============================] - 0s 448us/step - loss: 0.5475 - accuracy: 0.7311
Epoch 16/100
804/804 [==============================] - 0s 433us/step - loss: 0.5475 - accuracy: 0.7308
Epoch 17/100
804/804 [==============================] - 0s 445us/step - loss: 0.5472 - accuracy: 0.7305
Epoch 18/100
804/804 [==============================] - 0s 441us/step - loss: 0.5466 - accuracy: 0.7320
Epoch 19/100
804/804 [==============================] - 0s 432us/step - loss: 0.5463 - accuracy: 0.7311
Epoch 20/100
804/804 [==============================] - 0s 428us/step - loss: 0.5465 - accuracy: 0.7308
Epoch 21/100
804/804 [==============================] - 0s 428us/step - loss: 0.5465 - accuracy: 0.7317
Epoch 22/100
804/804 [==============================] - 0s 439us/step - loss: 0.5465 - accuracy: 0.7323
Epoch 23/100
804/804 [==============================] - 0s 427us/step - loss: 0.5460 - accuracy: 0.7323
Epoch 24/100
804/804 [==============================] - 0s 426us/step - loss: 0.5456 - accuracy: 0.7315
Epoch 25/100
804/804 [==============================] - 0s 421us/step - loss: 0.5456 - accuracy: 0.7317
Epoch 26/100
804/804 [==============================] - 0s 424us/step - loss: 0.5457 - accuracy: 0.7320
Epoch 27/100
804/804 [==============================] - 0s 435us/step - loss: 0.5451 - accuracy: 0.7316
Epoch 28/100
804/804 [==============================] - 0s 449us/step - loss: 0.5453 - accuracy: 0.7323
Epoch 29/100
804/804 [==============================] - 0s 424us/step - loss: 0.5452 - accuracy: 0.7327
Epoch 30/100
804/804 [==============================] - 0s 457us/step - loss: 0.5451 - accuracy: 0.7314
Epoch 31/100
804/804 [==============================] - 0s 429us/step - loss: 0.5451 - accuracy: 0.7327
Epoch 32/100
804/804 [==============================] - 0s 446us/step - loss: 0.5450 - accuracy: 0.7322
Epoch 33/100
804/804 [==============================] - 0s 425us/step - loss: 0.5444 - accuracy: 0.7328
Epoch 34/100
804/804 [==============================] - 0s 429us/step - loss: 0.5443 - accuracy: 0.7327
Epoch 35/100
804/804 [==============================] - 0s 428us/step - loss: 0.5449 - accuracy: 0.7318
Epoch 36/100
804/804 [==============================] - 0s 438us/step - loss: 0.5442 - accuracy: 0.7338
Epoch 37/100
804/804 [==============================] - 0s 427us/step - loss: 0.5439 - accuracy: 0.7332
Epoch 38/100
804/804 [==============================] - 0s 429us/step - loss: 0.5444 - accuracy: 0.7322
Epoch 39/100
804/804 [==============================] - 0s 431us/step - loss: 0.5442 - accuracy: 0.7324
Epoch 40/100
804/804 [==============================] - 0s 425us/step - loss: 0.5439 - accuracy: 0.7335
Epoch 41/100
804/804 [==============================] - 0s 422us/step - loss: 0.5437 - accuracy: 0.7327
Epoch 42/100
804/804 [==============================] - 0s 424us/step - loss: 0.5440 - accuracy: 0.7328
Epoch 43/100
804/804 [==============================] - 0s 427us/step - loss: 0.5438 - accuracy: 0.7323
Epoch 44/100
804/804 [==============================] - 0s 426us/step - loss: 0.5438 - accuracy: 0.7323
Epoch 45/100
804/804 [==============================] - 0s 420us/step - loss: 0.5436 - accuracy: 0.7338
Epoch 46/100
804/804 [==============================] - 0s 427us/step - loss: 0.5437 - accuracy: 0.7322
Epoch 47/100
804/804 [==============================] - 0s 420us/step - loss: 0.5437 - accuracy: 0.7333
Epoch 48/100
804/804 [==============================] - 0s 427us/step - loss: 0.5434 - accuracy: 0.7329
Epoch 49/100
804/804 [==============================] - 0s 424us/step - loss: 0.5436 - accuracy: 0.7333
Epoch 50/100
804/804 [==============================] - 0s 431us/step - loss: 0.5431 - accuracy: 0.7326
Epoch 51/100
804/804 [==============================] - 0s 426us/step - loss: 0.5435 - accuracy: 0.7334
Epoch 52/100
804/804 [==============================] - 0s 424us/step - loss: 0.5430 - accuracy: 0.7337
Epoch 53/100
804/804 [==============================] - 0s 427us/step - loss: 0.5431 - accuracy: 0.7345
Epoch 54/100
804/804 [==============================] - 0s 427us/step - loss: 0.5429 - accuracy: 0.7338
Epoch 55/100
804/804 [==============================] - 0s 431us/step - loss: 0.5426 - accuracy: 0.7335
Epoch 56/100
804/804 [==============================] - 0s 431us/step - loss: 0.5424 - accuracy: 0.7340
Epoch 57/100
804/804 [==============================] - 0s 445us/step - loss: 0.5426 - accuracy: 0.7348
Epoch 58/100
804/804 [==============================] - 0s 430us/step - loss: 0.5429 - accuracy: 0.7334
Epoch 59/100
804/804 [==============================] - 0s 425us/step - loss: 0.5423 - accuracy: 0.7331
Epoch 60/100
804/804 [==============================] - 0s 428us/step - loss: 0.5428 - accuracy: 0.7338
Epoch 61/100
804/804 [==============================] - 0s 438us/step - loss: 0.5423 - accuracy: 0.7337
Epoch 62/100
804/804 [==============================] - 0s 427us/step - loss: 0.5429 - accuracy: 0.7328
Epoch 63/100
804/804 [==============================] - 0s 465us/step - loss: 0.5427 - accuracy: 0.7337
Epoch 64/100
804/804 [==============================] - 0s 431us/step - loss: 0.5421 - accuracy: 0.7349
Epoch 65/100
804/804 [==============================] - 0s 426us/step - loss: 0.5422 - accuracy: 0.7345
Epoch 66/100
804/804 [==============================] - 0s 421us/step - loss: 0.5422 - accuracy: 0.7343
Epoch 67/100
804/804 [==============================] - 0s 421us/step - loss: 0.5421 - accuracy: 0.7338
Epoch 68/100
804/804 [==============================] - 0s 419us/step - loss: 0.5425 - accuracy: 0.7337
Epoch 69/100
804/804 [==============================] - 0s 421us/step - loss: 0.5416 - accuracy: 0.7348
Epoch 70/100
804/804 [==============================] - 0s 424us/step - loss: 0.5420 - accuracy: 0.7339
Epoch 71/100
804/804 [==============================] - 0s 419us/step - loss: 0.5420 - accuracy: 0.7328
Epoch 72/100
804/804 [==============================] - 0s 420us/step - loss: 0.5423 - accuracy: 0.7337
Epoch 73/100
804/804 [==============================] - 0s 416us/step - loss: 0.5421 - accuracy: 0.7346
Epoch 74/100
804/804 [==============================] - 0s 421us/step - loss: 0.5419 - accuracy: 0.7339
Epoch 75/100
804/804 [==============================] - 0s 430us/step - loss: 0.5422 - accuracy: 0.7329
Epoch 76/100
804/804 [==============================] - 0s 429us/step - loss: 0.5418 - accuracy: 0.7336
Epoch 77/100
804/804 [==============================] - 0s 418us/step - loss: 0.5417 - accuracy: 0.7344
Epoch 78/100
804/804 [==============================] - 0s 422us/step - loss: 0.5418 - accuracy: 0.7338
Epoch 79/100
804/804 [==============================] - 0s 419us/step - loss: 0.5417 - accuracy: 0.7347
Epoch 80/100
804/804 [==============================] - 0s 422us/step - loss: 0.5414 - accuracy: 0.7340
Epoch 81/100
804/804 [==============================] - 0s 428us/step - loss: 0.5418 - accuracy: 0.7346
Epoch 82/100
804/804 [==============================] - 0s 421us/step - loss: 0.5417 - accuracy: 0.7331
Epoch 83/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5416 - accuracy: 0.7342
Epoch 84/100
804/804 [==============================] - 0s 435us/step - loss: 0.5419 - accuracy: 0.7342
Epoch 85/100
804/804 [==============================] - 0s 426us/step - loss: 0.5416 - accuracy: 0.7350
Epoch 86/100
804/804 [==============================] - 0s 428us/step - loss: 0.5414 - accuracy: 0.7337
Epoch 87/100
804/804 [==============================] - 0s 422us/step - loss: 0.5414 - accuracy: 0.7345
Epoch 88/100
804/804 [==============================] - 0s 430us/step - loss: 0.5417 - accuracy: 0.7347
Epoch 89/100
804/804 [==============================] - 0s 421us/step - loss: 0.5413 - accuracy: 0.7346
Epoch 90/100
804/804 [==============================] - 0s 425us/step - loss: 0.5417 - accuracy: 0.7338
Epoch 91/100
804/804 [==============================] - 0s 427us/step - loss: 0.5415 - accuracy: 0.7342
Epoch 92/100
804/804 [==============================] - 0s 421us/step - loss: 0.5413 - accuracy: 0.7344
Epoch 93/100
804/804 [==============================] - 0s 423us/step - loss: 0.5414 - accuracy: 0.7347
Epoch 94/100
804/804 [==============================] - 0s 417us/step - loss: 0.5412 - accuracy: 0.7337
Epoch 95/100
804/804 [==============================] - 0s 421us/step - loss: 0.5417 - accuracy: 0.7343
Epoch 96/100
804/804 [==============================] - 0s 414us/step - loss: 0.5414 - accuracy: 0.7353
Epoch 97/100
804/804 [==============================] - 0s 419us/step - loss: 0.5412 - accuracy: 0.7351
Epoch 98/100
804/804 [==============================] - 0s 441us/step - loss: 0.5411 - accuracy: 0.7343
Epoch 99/100
804/804 [==============================] - 0s 427us/step - loss: 0.5414 - accuracy: 0.7345
Epoch 100/100
804/804 [==============================] - 0s 431us/step - loss: 0.5409 - accuracy: 0.7337

In [27]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5454 - accuracy: 0.7374 - 166ms/epoch - 620us/step
Loss: 0.5453633666038513, Accuracy: 0.7373760938644409

In [28]:
# Export our model to HDF5 file
nn.save("AlphabetSoupCharity_Model_V1.h5")